[report]
exclude_lines =
    diagnostics
    except KeyboardInterrupt:
    except BrokenPipeError:
    except ImportError:
    except RuntimeError:
    except:
    def prophyle_download
ignore_errors = True

[html]
directory = coverage_html_report
