[submodule "ext/time"]
	path = ext/time
	url = http://git.savannah.gnu.org/cgit/time.git
	ignore = dirty

[submodule "ext/bwa"]
	path = ext/bwa
	url = http://github.com/karel-brinda/bwa
	ignore = dirty
