/* Hide "Contents" in ToC box */

p.topic-title { display: none; }
p.sidebar-title { margin-bottom: 7px !important; }

/* Display the sidebar ToC with padding and as a bullet list*/
#contents > ul > li ul, #contents > ul > li li {
  margin: .5em 0 .5em 1em !important;
}

#contents > ul > li li {
  list-style-type: square;
}

#contents > ul > li li li {
  list-style-type: disc;
}

div[class^='highlight'] pre {
    color: #AAA
}

.gp {
    color: #AAA
}
